/* Esto es para resetear lso estlo que viene de los paadres */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

body {
  background: #725545;
}
.liena-movil {
  background-color: #0076b0;
}
.liena-movil h1 {
  color: #fff;
  text-align: center;
}

.liena-contacto {
  color: #fff;
  text-align: center;
}

#container {
  /* ancho */
  width: 70%;
  /* pegue a la orilla y centre */
  margin: 0px auto;
  /* borde del box */
  /*  border: 1px solid black; */
}

header {
  /* fondo */
  background: #725545;
}
.header-iconos {
  
  height: 150px;
  border-bottom: 5px ;
  position: relative;
}
.logo {
  position: absolute;
  left: 0;
  bottom: 0;
}
.logo img {
  width: 100%;
}

.redes {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
}
.menu_bar {
  display: none;
}
.redes img {
  width: 35px;
  padding-top: 15%;
  
  text-align: center;
}
.redes a {
  width: 35px;
  padding-top: 15%;
  padding-left: -200px;
  text-align: center;
}
.face {
  height: 35px;
  width: 10px;
}
.redes img:hover {
  position: relative ;
  bottom: 3px;
  border-bottom: 3px solid #0076b0;
  
}
nav {
  display: inline-block;
  background: #725545;
  margin: 0;
  margin-top: 10px;
  /* padding: 5px; */
  list-style-type: none;
  text-align: center;
  background-color: #0076b0;
  height: 100%;
  left: 0;
  width: 99.2%;
}
nav ul li {
  display: inline;
}
li,a,button {
  padding: 0.2em 1em;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
 /*  padding-bottom: 1px; */
  height: 100%;
 

}
nav li a:hover {
  position: relative;
  bottom: 3px;
  color: azure;
  background-color: #c68d00;
  height: 100%;
  width: 100%;
  /* border-bottom: 3px solid #0076b0; */
}

.clearfix {
  clear: both;
}
.body-contacto {
  text-align: center;

  /*     width: calc(80% - 80px);    */
  min-height: 500px;
  background: #c68d00;
}
.body-galeria {
  box-sizing: border-box;
  float: left;
  text-align: center;

  /*     width: calc(80% - 80px);    */
  min-height: 500px;
  background: #c68d00;
}

.aside-derecha {
  float: left;
  /* calc lo que hace es sacar 10px de acda lado. e slo mismo que poner padding-left y paddingright 10 */
  width: calc(20% - 20px);
  min-height: 100px;
  background: #725545;
  padding: 10px;
  color: #c68d00;
}


/*
.footerEnLinea {
  display: flex;
  align-items: center;
}

footer p {
  line-height: 100px;
  font-size: 1.5em;
  
 
} */

footer {    
  
  color: #725545;
  height: 100px;

  padding-top: 2%;
  text-align: left;
  font-size: 150%;
  padding-bottom: 5px;
  
}
.footer-mas{
  

  background: #725545;
  height: 4%;
  color: #fff;
  text-align: center;
  vertical-align: auto;
  padding-top: 1px;
  padding-bottom: 3px;
}
  footer ul {
    background: #c68d00;
    padding-top: 1.5%;
    text-align: left;
    font-size: 150%;
    padding-bottom: 3%;
  }
  footer ul li{
    display: inline;
    margin: 0;
    padding: 0;
  }
  footer ul li p{
    display: inline-block;
    color: #725545;
    position: relative;
    transition: .2s ease-in;
    margin-left: 200px;
 
  }
  footer ul li p:hover {
    transform: translateY(+10px);
  }

.parrafo-quienes {
  width: 100%;
  margin: 20px auto;
  color: #fff;
  padding: 15p;
  background: #c68d00;
}
.img-izquierda {
  float: left;
  margin-right: 15px;
}
.img-derecha {
  float: right;
  margin-left: 15px;
}

.aside-quieres-somos {
  color: #fff;
  font-size: 150%;
}
.auspiciantes{
  height: 20%;
  padding-top: 1%;
  
  clear: both;
  overflow:hidden;
  
  
}

.representantes{
  margin-left: 10%;
float:left;
padding-right: 1%;
}
.representantes p{
  font-size: large;
  color: #fff;
  background-color: #c68d00;
  margin: 5%; 
  margin-top: 3%; 
  padding: 5px;
  text-align: center; 
}
.representantes img{
  align-items: center;
}

.taller{
  float:right;
  padding-right: 1%;
  margin-right: 10%;
}
.taller p{
  
color: #fff;
background-color: #c68d00;
font-size: large;
margin: 5%;
padding: 5px;
text-align: center; 

}



/* Medias para celulares */
@media screen and (max-width: 980px) {
  .redes img {
    display: none;
  }
  /* footer{
    display: block;
    padding-top: 0;
    bottom: 0;
  } */
}
@media screen and (min-width: 980px) {
  .liena-movil {
    display: none;
  }
  .btn-menu {
    display: none;
  }
  .nav-movil {
    display: none;
  }
  
}

@media screen and (max-width: 980px) {
  header nav {
    width: 80%;
    height: 100%;
    margin: 0;
    position: fixed;
    left: -100%;
    /*top:0px;*/
    overflow: auto;
    z-index: 11;
  }

  .menu_bar {
    display: block;
    width: 100%;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar span {
    float: right;
    font-size: 40px;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .aside-derecha{
      display: none;
  }

  footer ul li p{
    margin-left: 5px;
    size: 1%;
  }
  footer ul li{
    display:grid;
    text-align: center;
  }
  footer{
    height: 15%;
  }
  .footer-mas{
    height: 5%;
  }
  .auspiciantes{}

}

header nav ul {
  list-style: none;
  overflow: hidden;
}


#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}
